/* .nav-pills li a:active{
    border-color: 1px solid #0D6EFD;
} */

.header__admin{
    background-color: #eee;
    border-radius: 10px;
}

#navbar .nav-pills .nav-item a {
	color: #000;
}

#navbar .nav-pills .nav-item a:hover {
	color: #008bff;
    border-color: 1px solid #0D6EFD;
}

